---
influxdb:
  host: lvm-webapp.lco.cl
  port: 9999
  org: LVM

slack:
  token: null
  default_channel: lvm-notifications
  level_channels:
    CRITICAL: lvm-alerts

notifications:
  critical:
    email_template: data/critical_error_email_template.html
    email_recipients:
      - lvm-critical@sdss.org
    email_server: smtp-01.lco.cl
    email_from: LVM Critical Alerts <lvm-critical@lco.cl>
    email_reply_to: lvm-critical@sdss.org

database:
  uri: postgresql://sdss_user@10.8.38.26:5432/lvmdb
  tables:
    exposures: gortdb.exposure
    ln2_fill: lvmopsdb.ln2_fill
    night_log: gortdb.night_log
    night_log_comment: gortdb.night_log_comment
    notification: gortdb.notification

actors:
  list:
    - lvm.overwatcher
    - lvm.sci.agcam
    - lvm.spec.agcam
    - lvm.skye.agcam
    - lvm.skyw.agcam
    - lvmscp.sp1
    - lvmscp.sp2
    - lvmscp.sp3
    - lvmecp
    - lvm.sci.pwi
    - lvm.spec.pwi
    - lvm.skye.pwi
    - lvm.skyw.pwi
    - lvm.sci.foc
    - lvm.spec.foc
    - lvm.skye.foc
    - lvm.skyw.foc
    - lvm.sci.km
    - lvm.skye.km
    - lvm.skyw.km
    - lvm.sci.guider
    - lvm.spec.guider
    - lvm.skye.guider
    - lvm.skyw.guider
  actor_to_deployment:
    lvm.overwatcher: overwatcher
    lvm.sci.agcam: lvmagcam
    lvm.spec.agcam: lvmagcam
    lvm.skye.agcam: lvmagcam
    lvm.skyw.agcam: lvmagcam
    lvmscp.sp1: lvmscp
    lvmscp.sp2: lvmscp
    lvmscp.sp3: lvmscp
    lvmecp: lvmecp
    lvm.sci.pwi: lvmpwi-sci
    lvm.spec.pwi: lvmpwi-spec
    lvm.skye.pwi: lvmpwi-skye
    lvm.skyw.pwi: lvmpwi-skyw
    lvm.sci.foc: lvmtan
    lvm.spec.foc: lvmtan
    lvm.skye.foc: lvmtan
    lvm.skyw.foc: lvmtan
    lvm.sci.km: lvmtan
    lvm.skye.km: lvmtan
    lvm.skyw.km: lvmtan
    lvm.sci.guider: lvmguider
    lvm.spec.guider: lvmguider
    lvm.skye.guider: lvmguider
    lvm.skyw.guider: lvmguider

kubernetes:
  deployments_path: /home/sdss5/config/kube

night_logs:
  email_template: data/night_log_email_template.html
  lvmweb_url: https://lvm-web.lco.cl/night-logs/
  email_recipients:
    - lvm-operations@sdss.org
    - lvm-inst@sdss.org
  email_server: smtp-02.lco.cl
  email_from: LVM Night Log <lvm-nightlog@lco.cl>
  email_reply_to: lvm-operations@sdss.org
